name: Manual Release

on:
  workflow_dispatch:
    inputs:
      track:
        description: 'Google Play Track (production, beta, alpha, internal)'
        required: true
        default: 'internal'
      status:
        description: 'Release Status (completed, draft, halted, inProgress)'
        required: true
        default: 'draft'
      version_name:
        description: 'App versionName (например 0.1.0 или 0.1.0-beta.1)'
        required: true

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Decode Keystore
      env:
        ENCODED_STRING: ${{ secrets.KEYSTORE_BASE64 }}
      run: |
        echo $ENCODED_STRING | base64 -d > release.keystore

    - name: Decode Google Services JSON
      env:
        GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: |
        echo $GOOGLE_SERVICES_JSON | base64 -d > app/google-services.json

    - name: Build Release APK and AAB
      env:
        KEYSTORE_PATH: ${{ github.workspace }}/release.keystore
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        BUILD_NUMBER: ${{ github.run_number }}
        APP_VERSION_NAME: ${{ inputs.version_name }}
      run: ./gradlew assembleRelease bundleRelease

    - name: Create Release Tag
      id: tag
      run: |
        echo "tag_name=v$(date +'%Y.%m.%d-%H%M')" >> $GITHUB_OUTPUT

    - name: Upload APK to GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ steps.tag.outputs.tag_name }}
        name: Release ${{ steps.tag.outputs.tag_name }}
        files: app/build/outputs/apk/release/app-release.apk
        draft: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload to Google Play
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
        packageName: com.vasmarfas.UniversalAmbientLight
        releaseFiles: app/build/outputs/bundle/release/app-release.aab
        track: ${{ inputs.track }}
        status: ${{ inputs.status }}
